################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Wbx.Sample.Service
/src/Wbx.Paritet.Db.Grpc.Test/bin/Debug/net6.0
/src/Wbx.Paritet.Db.Grpc.Test/obj
/src/Wbx.Sample.Application/bin/Debug/net6.0
/src/Wbx.Sample.Application/obj
/src/Wbx.Sample.Cache/bin/Debug/net6.0
/src/Wbx.Sample.Cache/obj
/src/Wbx.Sample.Domain/bin/Debug/net6.0
/src/Wbx.Sample.Domain/obj
/src/Wbx.Sample.Grpc/bin/Debug/net6.0
/src/Wbx.Sample.Grpc/obj
/src/Wbx.Sample.Grpc.Client/bin/Debug
/src/Wbx.Sample.Grpc.Client/obj
/src/Wbx.Sample.Grpc.Proto/bin/Debug
/src/Wbx.Sample.Grpc.Proto/obj
/src/Wbx.Sample.Hangfire/bin/Debug/net6.0
/src/Wbx.Sample.Hangfire/obj
/src/Wbx.Sample.Host/bin/Debug/net6.0
/src/Wbx.Sample.Host/obj
/src/Wbx.Sample.Persistence/bin/Debug/net6.0
/src/Wbx.Sample.Persistence/obj
/src/Paritet.Application/obj
/src/Paritet.Domain/obj
/src/Wbx.Sample.Utils/obj
/Tests/Wbx.Sample.Application.Test/obj
/Tests/Wbx.Sample.Grpc.Client.Test/obj
/Tests/Wbx.Sample.Grpc.Service.Test/obj
/src/Wbx.Sample.Integration/obj
/.vs/ProjectEvaluation
/src/Wbx.Sample.Integration/bin/Debug/net6.0
/src/Wbx.Sample.Utils/bin/Debug/net6.0
/src/Wbx.Simple.RabbitMQ.Client/bin/Debug/net6.0
/src/Wbx.Simple.RabbitMQ.Client/obj
/src/Wbx.Simple.RabbitMQ.Service/bin/Debug/net6.0
/src/Wbx.Simple.RabbitMQ.Service/obj
/tests/Wbx.Sample.Application.Test/bin/Debug/net6.0
/Tests/Wbx.Sample.Grpc.Client.Test/bin/Debug/net6.0
/Tests/Wbx.Sample.Grpc.Service.Test/bin/Debug/net6.0
/ConsoleApp1
/src/Wbx.Sample.Wpf/bin/Debug/net6.0-windows
/src/Wbx.Sample.Wpf/obj
